@media (max-width: 1300px) {
    /*993-1200*/
    .container {
        width: 1190px;
    }

    .menu-img {
        max-width: 100%;
    }

    .footer-link-social {
        margin-right: 40px;
    }

}

@media (max-width: 1200px) {
    .container {
        width: 993px;
    }

    .title {
        font-size: 50px;
    }

    .menu-img {
        max-width: 100%;
    }

    .customer-img {
        max-width: 100%;
    }

  .block-1{
      max-width: 50%;
  }
}

@media (max-width: 992px) {
    /*769-992*/
    .container {
        width: 720px;
    }

    .menu-link {
        font-size: 17px;
        margin-right: 9px;
    }

    .nav-link-reg {
        font-size: 17px;
        padding: 10px 20px;
    }

    .foliage-img {
        max-width: 60%;
    }

    .arrow-circle {
        width: 58px;
        height: 58px;
    }

    .img-hero {
        max-width: 100%;
    }

    .col-7 {
        width: 100%;
    }

    .arrow-down {
        display: none;
    }

    .col-6 {
        width: 100%;
    }

    .title {
        text-align: center;
        line-height: 65px;
    }

    .desc {
        text-align: center;
    }

    .benefits {
        padding: 91px 0 50px;
    }

    .menu-img {
        display: block;
        margin: 0 auto;
    }

    .menu-items {
        justify-content: center;
        margin-bottom: 40px;
    }

    .special-menu-img {
        max-width: 35%;
        right: 0;
        top: 167px;
    }

    .special-item-menu {
        display: flex;
        flex-flow: wrap;
    }

    .special-item-menu .col-1 {
        order: 1;
    }

    .special-item-menu .col-2 {
        order: 0;
    }

    .review {
        padding: 80px 0 84px;
    }


    .order-row {
        display: flex;
        flex-flow: wrap;
    }

    .order-row .col-1 {
        order: 1;
    }

    .order-row .col-2 {
        order: 0;
    }

    .order-info {
        margin-bottom: 40px;
    }

    .order-desc {
        padding-right: 0;
    }

    .p-right {
        padding-right: 0;
    }


    .footer {
        padding: 0 0 40px;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-row {
        flex-wrap: wrap;
    }

    .col-4 {
        width: 100%;
    }

    .col-3 {
        width: 33.3333%;
    }

    .footer-logo-img {
        display: block;
        margin: 0 auto 10px;
    }

    .footer-link-social {
        margin-right: 28px;
    }


    .elements {
        display: block;
    }

    .owl-prev {
        position: absolute;
        left: 20%;
        bottom: -20px;
    }

    .owl-next {
        position: absolute;
        left: 30%;
        bottom: -20px;

    }
    .block-1{
        max-width: 100%;
    }
    .review-title{
        text-align: center;
        margin-bottom: 5px;
    }
    .stars{
        text-align: center;
    }
}


@media (max-width: 768px) {
    /*577-768*/
    .container {
        width: 540px;
    }

    .burger {
        display: block;
        z-index: 5;
    }

    .menu {
        position: fixed;
        background: linear-gradient(
                114.08deg, #39ff3c 13.97%, #00D1FF 100%), #087a55;
        width: 50%;
        height: 100%;
        top: 0;
        right: -100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: 0.6s;
        z-index: 5;

    }
    .menu-link{
        font-size: 25px;
    }
    .menu.show {
        right: 0;
    }

    .header {
        padding: 40px 0 40px;
    }

    .title {
        font-size: 45px;
        line-height: 58px;
    }

    .footer-about {
        padding-left: 0;
    }

    .footer-link-social {
        margin-right: 20px;
    }

    .special-item {
        padding: 43px 0 48px;
    }

    .review {
        padding: 45px 0 43px;
    }

    .benefits {
        padding: 43px 0 45px;
    }

    .order {
        padding-bottom: 60px;
    }

    .elements {
        display: block;
    }

    .owl-prev {
        position: absolute;
        left: 20%;
        bottom: -20px;
        width: 35px;
        height: 35px;
    }

    .owl-next {
        position: absolute;
        left: 35%;
        bottom: -20px;
        width: 35px;
        height: 35px;

    }

    span {
        font-size: 30px;
    }
    .review-title{
        text-align: center;
        margin-bottom: 5px;
    }
    .stars{
        text-align: center;
    }
    .stars-icon{
        font-size: 25px;
    }
}


    @media (max-width: 576px) {
        /*320-576*/
        .container {
            width: 310px;
            padding: 0 5px;
        }

        .logo-img {
            width: 40px;
        }

        header {
            padding: 33px 0 34px;
        }

        .nav-link-reg {
            font-size: 14px;
            padding: 2px 12px;
        }

        .about-benefits {
            display: block;
        }

        .delivery {
            max-width: 215%;
        }

        .title {
            font-size: 29px;
            line-height: 40px;
        }

        .desc {
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 10px;
        }

        .arrow-circle {
            width: 45px;
            height: 45px
        }

        .foliage-img {
            position: absolute;
            top: -57px;
            left: -9px;
        }

        .hero {
            padding-top: 57px;
        }

        .mobile-img {
            max-width: 150px;
        }

        .footer-logo-img {
            width: 40px;
            height: 40px;
        }

        .download {
            font-size: 13px;
        }

        .col-3 {
            width: 100%;
        }

        .footer-about {
            text-align: center;
        }

        .footer-title {
            margin-bottom: 16px;
        }

        .footer-link {
            margin-bottom: 12px;
        }

        .benefits-circle {
            margin-bottom: 10px;
        }

        .about-benefits {
            padding: 40px 60px 20px 60px;
        }

        .review-title {
            font-size: 18px;
        }
        .owl-prev {
            position: absolute;
            left: 20%;
            bottom: -30px;
            width: 30px;
            height: 30px;
        }

        .owl-next {
            position: absolute;
            left: 35%;
            bottom: -30px;
            width: 30px;
            height: 30px;

        }

        span {
            font-size: 30px;
        }
        .review-title{
            text-align: center;
        }
        .stars{
            text-align: center;
        }
        .stars-icon{
            font-size: 20px;
        }

    }
